/*
<--!----------------------------------------------------------------!-->
<--! REBOOT SCSS !-->
<--!----------------------------------------------------------------!-->
*/

// Links
a {
  font-weight: $font-weight-medium;
}

// focus
:focus-visible {
  outline: none;
  box-shadow: none;
}
