/*
<--!----------------------------------------------------------------!-->
<--! SELECT2 SCSS !-->
<--!----------------------------------------------------------------!-->
*/
.select2-container {
	display: block;
	width: -webkit-fill-available !important;

	.select2-selection {
		font-size: $font-size-base;
		color: var(--#{$prefix}body-color);
		background-color: var(--#{$prefix}tertiary-bg);
		border-color: var(--#{$prefix}border-color);
		padding: 0.375rem 0.75rem 0 !important;
		min-height: calc(2em + 0.75rem + 2px);
	}

	.select2-selection--single {
		background-size: 1rem 0.5rem;
		padding: 0.5rem 2.25rem 0.375rem 0.75rem;

		.select2-selection__rendered {
			overflow: hidden;
			width: 100%;
			padding-left: 0;
			line-height: 1.65rem;
			color: var(--#{$prefix}body-color);
			font-weight: $font-weight-semibold;
		}

		.select2-selection__arrow {
			height: 2.5rem;
			right: 0.375rem;
		}
	}

	&.select2-container--focus,
	&.select2-container--open {
		.select2-selection {
			box-shadow: none;
			border-color: var(--#{$prefix}border-color);
		}
	}

	.select2-selection--multiple {
		.select2-search {
			width: auto;
			height: 2rem;
			display: inline-block;
		}

		.select2-selection__choice {
			margin-top: 0;
			margin-left: 0;
			margin-right: 0.375rem;
			margin-bottom: 0.375rem;
			background-color: var(--#{$prefix}tertiary-bg);
			border-color: var(--#{$prefix}border-color);
		}

		.select2-selection__rendered {
			overflow: inherit;

			.select2-selection__choice {
				position: relative;
				display: inline-flex;
				font-size: $font-size-sm;
				font-weight: $font-weight-semibold;
				color: var(--#{$prefix}body-color);
				border-color: var(--#{$prefix}border-color);
				border-radius: $border-radius-pill;
				padding: 0.1875rem 1rem 0.1875rem 0.1875rem;


				.select2-selection__choice__remove {
					top: auto;
					left: auto;
					right: 0.3125rem;
					width: 0.4375rem;
					height: 0.4375rem;
					margin-right: 0.3125rem;
					border-right: none;
				}
			}
		}
	}

	.select2-dropdown {
		z-index: 1056;
		color: var(--#{$prefix}body-color);
		background-color: var(--#{$prefix}tertiary-bg);
		border-color: var(--#{$prefix}border-color);
		border-radius: $border-radius-sm;

		.select2-search {
			padding: 0.375rem 1rem;

			.select2-search__field {
				font-size: $font-size-base;
				color: var(--#{$prefix}body-color);
				border-color: var(--#{$prefix}border-color);
				background-color: var(--#{$prefix}bg-secondary);
			}
		}

		.select2-results__options {
			.select2-results__option {
				padding: 0.625rem 1rem;
				font-size: $font-size-base;
				font-weight: $font-weight-medium;
				color: var(--#{$prefix}body-color);

				&[aria-selected="true"],
				&.select2-results__option--selected,
				&.select2-results__option--highlighted {
					color: $primary !important;
					background-color: rgba(84, 133, 228, 0.075) !important;
				}
			}
		}
	}
}

.select2-selection__placeholder {
	font-family: inherit !important;
	font-weight: $font-weight-normal;
	color: var(--#{$prefix}gray-500) !important;
}